/* Navbar */
.nav-link {
    color: grey;
    position: absolute fixed;
}

/* Body */
.logo {
    width: 50px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.masthead-brand {
    color: black;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
}
.text-center {
    background-color: white;
    color: grey;
    font-family: 'Montserrat', sans-serif;
}
.cover-heading {
    padding: 270px 0 10px 0;
    margin: 50px 0 0 0;
    color: white;
    font-family: 'Rock Salt', cursive; 
    font-size: 60px;
}
.lead {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}
.cover {
    background-image: url("1-images/island-unsplash.jpg");
    background-size: 100%;
    height: 800px; 
    width: 100%;
    background-position: bottom -70px left;
}
.about-container {
    padding: 40px 0 20px 0;
}
.find-container {
    padding: 40px 0 20px 0;
}
.text {
    color: grey;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

/* Contact */
.container {
    padding: 100px;
    margin: 20px;
}

.text-center .text-uppercase {
    padding: 10px;
    font-size: 40px;
}